* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

body {
  background-color: black;
}

.bubble, .label {
  fill: white;
}

.login-page {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-page--title {
  color: #ffffff;
}

.login-page--login-button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 16px;
  background-color: #1db954;
  cursor: pointer;
}

.login-page--login-button:hover {
  transition: all 0.25s ease-in-out;
}

.login-page--login-text {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard--selection {
  background-color: gray;
}

.dashboard--buttons {
  margin: 5px 0px;
  width: 100px;
  height: 30px;

  background-color: gray;
  color: #FFFFFF;
  border: 1px solid black;
  border-radius: 5px;
}

.dashboard--buttons:hover {
  opacity: 50%;
}

.label {
  font-size: 12px;
  inline-size: 150px;
  overflow-wrap: break-word;
}